version: "2"
services:
  postgres:
    image: floodplain/postgres-debezium-dvdrental:1.0.0
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: mysecretpassword
  cdcservice:
    image: floodplain/cdcservice:0.0.1
    build:
      context: .
      dockerfile: src/main/docker/Dockerfile.jvm
    depends_on:
      - "postgres"
    ports:
      - "8080:8080"
